body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: burlywood;
}
header{
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
    width: 100%;
    top: 0;
    z-index: 1000;

}
main{
    padding: 2em;
    color: azure;
}
nav{
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
}
nav ul{ 
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1em;
}

    

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3 em;
    margin: 0em;
}
nav ul li a:hover{
    background-color: aqua;
}
section{
    padding: 5em 0;
}
footer{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 1em 0;
}